/.vscode
/aliassign.cpp
/aliassign.exe
/app.class
/app.cpp
/app.exe
/arrayopreations.cpp
/arrayopreations.exe
/assign.cpp
/assign.exe
/assign2.cpp
/assign2.exe
/labmustafa_majid.cpp
/labmustafa_majid.exe
/link.cpp
/linkedlist.cpp
/linkedlist.exe
/mustafa_majid1.docx
/new.cpp
/new.exe
/queue_linkedlist.cpp
/queue_linkedlist.exe
/test.cpp
/test.exe